data/
debug/
docs/
log/
result/
notebook/
notebooks/
dockerfiles/
dist/

__pycache__/
**/__pycache__/

.dvc/
.git/
.github/
.vscode/
*.egg-info/
.venv/
.mypy_cache/
notebook/

*.tar.gz
*.zip
*.rar
*.tar
*.csv